# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment & Secrets
.env
.env.local
.env.*.local
server/.env

# Databases
data/
*.db
*.sqlite

# Logs
logs
*.log
npm-debug.log*

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
